.body {
    margin: 5% auto;
    max-width: 60%;
    text-align: center;
}
h2 {
  margin-bottom: 15px;
}
h4 {
  margin-bottom: 20px;
}
.payment-option {
    text-align: center;
}
.payment-option p {
  text-align: left;
}
.payment-option ul {
  text-align: left;
  list-style-type: '- ';
}
.payment-info {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}
